nav{
    background-color: #0e8eff;
    width: 100%;
    height: auto;
    text-align: center;
}

nav a{
    text-decoration: none;
    color:white;
    margin: 10px;
    line-height: 50px;
    font-size: 25px;
    padding: 8px;
}

nav a:hover{
    background-color: #3e3d3d;
    color: white;
}